To: {{ recipient }}
Cc: {{ cc }}
Subject: {{ subject }}
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary={{ boundary }}

--{{ boundary }}
Content-Type: text/html; charset=UTF-8
Content-Disposition: inline
<html>
<body>
<p>Cher Parrain,</p>

<p>Nous esp&eacute;rons que vous allez bien.</p>

<p>Comme convenu nous vous tenons inform&eacute;s de la scolarit&eacute; de votre filleul.</p>

<p>{{ firstname }} poursuit sa scolarit&eacute; en classe de {{ class }} et travaille consciencieusement.<br>
{% if ranking %}{{ firstname }} est class&eacute;  {{ ranking }}{% if student_nb %} sur {{ student_nb }}{% endif %}{% if average %} avec une moyenne de {{ average }}{% endif %}.<br>{% endif %}
Vous trouverez le bulletin du premier semestre en PJ.</p>

<p>Des membres MMS sont en contact r&eacute;gulier avec les familles des enfants parrain&eacute;s pour suivre le travail scolaire de leur enfant et s'assurer du progr&egrave;s pour le second semestre.</p>

<p>Merci encore de votre confiance et de votre soutien.<br>
Ensemble nous travaillons main dans la main pour l'avenir des enfants.</p>

<p>Bien cordialement,</p>

<p>Mangone Thiam<br>
President<br>
My Medina Schools (MMS)<br>
www.mymedinaschools.com<br>
+447447469996<br>
facebook/ instagram<br>
https://www.facebook.com/mymedinaschools<br>
https://www.instagram.com/mymedinaschools/</p>
</body>
</html>
--{{ boundary }}
Content-Type: application/octet-stream; name=consular-service-request-form-completed.pdf
Content-Disposition: attachment; filename=consular-service-request-form-completed.pdf
Content-Transfer-Encoding: base64

