To: {{ recipient }}
Cc: {{ cc }}
Subject: [{{ code_mms }}] Votre filleul
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary={{ boundary }}

--{{ boundary }}
Content-Type: text/html; charset=UTF-8
Content-Disposition: inline
<html>
<body style="word-wrap: break-word; -webkit-nbsp-mode: space; line-break: after-white-space" class="">

<p>Bonjour,</p>

<p>Nous esp&eacute;rons que vous vous portez bien.</p>

<p>L'ann&eacute;e scolaire s'est termin&eacute;e au S&eacute;n&eacute;gal.</p>

<p>Nous vous communiquons les notes de votre filleul{%if 'fille' == genre %}e{% endif %} qui n'a pas d&eacute;m&eacute;rit&eacute; ce dernier semestre. En effet <strong>{{ firstname }} {{ name }}</strong> a obtenu la moyenne de <strong>{{ average }}</strong> ce qui lui fait une moyenne g&eacute;n&eacute;rale de <strong>{{ year_average }}</strong> et a fini <strong>{{ ranking }}</strong> de sa classe!</p>
<p>Votre filleul{%if 'fille' == genre %}e{% endif %} est donc admis{%if 'fille' == genre %}e{% endif %} en classe sup&eacute;rieure avec les encouragements de ses professeurs!</p>

<p>Vous trouverez le bulletin du second semestre en PJ.</p>

<p>Gr&acirc;ce &agrave; votre soutien, nous avons ensemble r&eacute;alis&eacute; l'objectif du parrainage 2024 qui prend fin avec l'envoi de ce 2&egrave;me bulletin.</p>
<p>Laissez-nous vous remercier au nom des parents et de toute l'&eacute;quipe MMS pour l'acte g&eacute;n&eacute;reux et militant dont vous avez &eacute;t&eacute; l'auteur en parrainant scolairement un ou des enfants. Cet acte de haute port&eacute;e a un impact concret sur les enfants et leurs familles et sur l'&eacute;ducation au S&eacute;n&eacute;gal.</p>

<p>MMS va continuer le programme de parrainage pour l'ann&eacute;e scolaire &agrave; venir.</p>
<p>Les modalit&eacute;s restent inchang&eacute;es.</p>

<p>Pourriez-vous nous dire par retour de mail si vous souhaitez p&eacute;renniser votre contrat avec <strong>{{ firstname }}</strong> en classe sup&eacute;rieure? Si votre filleul{%if 'fille' == genre %}e{% endif %} a une moyenne g&eacute;n&eacute;rale inf&eacute;rieure &agrave; 12/20 il ou elle sera exclu{%if 'fille' == genre %}e{% endif %} du parrainage et un autre &eacute;l&egrave;ve vous sera allou&eacute;.</p>

<p>Vous pouvez d&egrave;s &agrave; pr&eacute;sent renouveler votre parrainage :</p>
<ul>
<li>par wave ou orange money au nom de Salla Seck +221 77 795 07 08</li>
<li>par virement bancaire France ou S&eacute;n&eacute;gal</li>
<li>ou via paypal avec les liens USD ou EUR ci-dessous</li>
</ul>

<p>Lien Euro<br>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NPHCPYV92SENE&source=url">https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NPHCPYV92SENE&source=url</a></p>

<p>Lien USD<br>
<a href="https://www.paypal.com/donate?hosted_button_id=BLMGKNXSBVZU8">https://www.paypal.com/donate?hosted_button_id=BLMGKNXSBVZU8</a></p>

<p>En vous remerciant,</p>

<p>Bien cordialement,</p>

 <div>
      <blockquote type="cite" class="">
        <div class="">
          <div dir="auto" class="">
            <div dir="ltr" class="">
              <div dir="ltr" style="margin-left: 0pt" align="left" class="">
                <table style="border: none; border-collapse: collapse" class="">
                  <colgroup class="">
                    <col width="138" class="" />
                    <col width="218" class="" />
                  </colgroup>
                  <tbody class=""></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </blockquote>
      <div class="">
        <div dir="auto" class="">
          <div dir="ltr" class="">
            <div dir="ltr" style="margin-left: 0pt" align="left" class="">
              <table style="border: none; border-collapse: collapse" class="">
                <tbody class="">
                  <tr style="height: 0pt" class="">
                    <td
                      style="
                        border-left: solid #ffffff 1pt;
                        border-right: solid #ffffff 1pt;
                        border-bottom: solid #ffffff 1pt;
                        border-top: solid #ffffff 1pt;
                        vertical-align: top;
                        padding: 5pt 5pt 5pt 5pt;
                        overflow: hidden;
                        overflow-wrap: break-word;
                      "
                      class=""
                    >
                      <div style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt" class="">
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          ><span
                            style="
                              border: none;
                              display: inline-block;
                              overflow: hidden;
                              width: 103px;
                              height: 98px;
                            "
                            class=""
                            ><img
                              src="https://lh6.googleusercontent.com/2fkijY3bePLsiLnUhDZd4MgLHiN8gfGf75RX8R6D6bmZncVnylLZ8cbBCKh08rZ2RTJZbOG000EncbmOG6_UahfzKibcEKc1YZ7GfkONcMRljvGAP6vsGJKsVH5pVZaiyx6iCaDW"
                              width="103"
                              height="98"
                              style="margin-left: 0px; margin-top: 0px"
                              data-unique-identifier=""
                              class="" /></span
                        ></span>
                      </div>
                    </td>
                    <td
                      style="
                        border-left: solid #ffffff 1pt;
                        border-right: solid #ffffff 1pt;
                        border-bottom: solid #ffffff 1pt;
                        border-top: solid #ffffff 1pt;
                        vertical-align: top;
                        padding: 5pt 5pt 5pt 5pt;
                        overflow: hidden;
                        overflow-wrap: break-word;
                      "
                      class=""
                    >
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-weight: 700;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >Mangone Thiam</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >President</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 9pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >My Medina Schools (MMS)</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <a
                          href="http://www.mymedinaschools.com/"
                          style="text-decoration: none"
                          class=""
                          ><span
                            style="
                              font-size: 8pt;
                              font-family: Arial;
                              color: rgb(17, 85, 204);
                              font-variant-ligatures: normal;
                              font-variant-east-asian: normal;
                              font-variant-position: normal;
                              text-decoration: underline;
                              text-decoration-skip: none;
                              vertical-align: baseline;
                              white-space: pre-wrap;
                            "
                            class=""
                            >www.mymedinaschools.com</span
                          ></a
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >+447447469996</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <a
                          href="https://www.facebook.com/mymedinaschools"
                          style="text-decoration: none"
                          class=""
                          ><span
                            style="
                              font-size: 11pt;
                              font-family: Arial;
                              color: rgb(17, 85, 204);
                              font-variant-ligatures: normal;
                              font-variant-east-asian: normal;
                              font-variant-position: normal;
                              text-decoration: underline;
                              text-decoration-skip: none;
                              vertical-align: baseline;
                              white-space: pre-wrap;
                            "
                            class=""
                            >facebook</span
                          ></a
                        ><span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >/</span
                        ><span
                          style="
                            text-decoration: underline;
                            font-size: 11pt;
                            font-family: Arial;
                            color: rgb(17, 85, 204);
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            text-decoration-skip-ink: none;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          ><a
                            href="https://www.instagram.com/mymedinaschools/"
                            style="text-decoration: none"
                            class=""
                          >
                            instagram</a
                          ></span
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
--{{ boundary }}
Content-Type: {{ mime_type }}; name={{ filename }}
Content-Disposition: attachment; filename={{ filename }}
Content-Transfer-Encoding: base64

