To: {{ recipient }}
Cc: {{ cc }}
Subject: [{{ code_mms }}] Votre filleul
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary={{ boundary }}

--{{ boundary }}
Content-Type: text/html; charset=UTF-8
Content-Disposition: inline
<html>
<body style="word-wrap: break-word; -webkit-nbsp-mode: space; line-break: after-white-space" class="">

<p>Bonjour,</p>

    <p>Nous esp&eacute;rons que cet email vous trouvera vous et vos proches en pleine forme.</p>
    <p>Ce projet de parrainage initi&eacute; il y a 5 ans est devenu une r&eacute;alit&eacute; gr&acirc;ce &agrave; vous et vous &ecirc;tes les pionniers de cette belle aventure et nous vous en remercions.</p>

    <p>En effet, le mardi 15 Octobre 2024 dernier de 15h &agrave; 19h, a eu lieu la signature des contrats de parrainage MMS et la remise des frais d&apos;inscription. Cette somme, cher parrain/ch&egrave;re marraine, est une partie de votre versement. Le solde a &eacute;t&eacute; utilis&eacute; pour l&apos;achat des fournitures</p>

    <p>Cet &eacute;v&eacute;nement s&apos;est d&eacute;roul&eacute; dans l&apos;&eacute;cole Babacar Ndiaye Wack 1 de la M&eacute;dina o&ugrave; &eacute;taient r&eacute;unis des membres de l&apos;&eacute;quipe MMS, les filleuls et leurs familles ainsi que les directrices et directeurs des &eacute;coles que nous suivons.</p>

    <p>Pour cette rentr&eacute;e 2025, vous soutenez l&apos;enfant <strong>*{{ firstname }}* {{ name }}</strong> qui rentre en classe de <em>{{ class }}</em>.</p>

    <p>Apr&egrave;s la lecture du contrat, les parents ont apport&eacute; leurs signatures. L&apos;&eacute;motion &eacute;tait au rendez-vous, la joie et la fiert&eacute; pouvaient se lire sur les visages de tous les participants.</p>
    <p>Suite &agrave; cette c&eacute;r&eacute;monie, les parents de chaque filleul sont venus retirer &agrave; notre si&egrave;ge de Dakar la totalit&eacute; des fournitures pour le coll&egrave;ge. Cet achat s&apos;est fait par des membres de l&apos;&eacute;quipe MMS qui ont remis les fournitures directement aux familles.</p>
    <p>Vous trouverez en pi&egrave;ces jointes des photos de votre filleul ou de son repr&eacute;sentant (parent/fr&egrave;re/soeur).</p>

    <p>Nous vous remercions tr&egrave;s chaleureusement encore une fois pour votre engagement aupr&egrave;s de votre filleul. Vous recevrez prochainement les bulletins de note de l&apos;enfant.</p>

    <p>Bien cordialement<br>
    L&apos;&eacute;quipe MMS</p>
 <div>
      <blockquote type="cite" class="">
        <div class="">
          <div dir="auto" class="">
            <div dir="ltr" class="">
              <div dir="ltr" style="margin-left: 0pt" align="left" class="">
                <table style="border: none; border-collapse: collapse" class="">
                  <colgroup class="">
                    <col width="138" class="" />
                    <col width="218" class="" />
                  </colgroup>
                  <tbody class=""></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </blockquote>
      <div class="">
        <div dir="auto" class="">
          <div dir="ltr" class="">
            <div dir="ltr" style="margin-left: 0pt" align="left" class="">
              <table style="border: none; border-collapse: collapse" class="">
                <tbody class="">
                  <tr style="height: 0pt" class="">
                    <td
                      style="
                        border-left: solid #ffffff 1pt;
                        border-right: solid #ffffff 1pt;
                        border-bottom: solid #ffffff 1pt;
                        border-top: solid #ffffff 1pt;
                        vertical-align: top;
                        padding: 5pt 5pt 5pt 5pt;
                        overflow: hidden;
                        overflow-wrap: break-word;
                      "
                      class=""
                    >
                      <div style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt" class="">
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          ><span
                            style="
                              border: none;
                              display: inline-block;
                              overflow: hidden;
                              width: 103px;
                              height: 98px;
                            "
                            class=""
                            ><img
                              src="https://lh6.googleusercontent.com/2fkijY3bePLsiLnUhDZd4MgLHiN8gfGf75RX8R6D6bmZncVnylLZ8cbBCKh08rZ2RTJZbOG000EncbmOG6_UahfzKibcEKc1YZ7GfkONcMRljvGAP6vsGJKsVH5pVZaiyx6iCaDW"
                              width="103"
                              height="98"
                              style="margin-left: 0px; margin-top: 0px"
                              data-unique-identifier=""
                              class="" /></span
                        ></span>
                      </div>
                    </td>
                    <td
                      style="
                        border-left: solid #ffffff 1pt;
                        border-right: solid #ffffff 1pt;
                        border-bottom: solid #ffffff 1pt;
                        border-top: solid #ffffff 1pt;
                        vertical-align: top;
                        padding: 5pt 5pt 5pt 5pt;
                        overflow: hidden;
                        overflow-wrap: break-word;
                      "
                      class=""
                    >
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-weight: 700;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >Mangone Thiam</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >President</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 9pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >My Medina Schools (MMS)</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <a
                          href="http://www.mymedinaschools.com/"
                          style="text-decoration: none"
                          class=""
                          ><span
                            style="
                              font-size: 8pt;
                              font-family: Arial;
                              color: rgb(17, 85, 204);
                              font-variant-ligatures: normal;
                              font-variant-east-asian: normal;
                              font-variant-position: normal;
                              text-decoration: underline;
                              text-decoration-skip: none;
                              vertical-align: baseline;
                              white-space: pre-wrap;
                            "
                            class=""
                            >www.mymedinaschools.com</span
                          ></a
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >+447447469996</span
                        >
                      </div>
                      <div
                        style="
                          line-height: 1.2;
                          text-align: center;
                          margin-top: 0pt;
                          margin-bottom: 0pt;
                        "
                        class=""
                      >
                        <a
                          href="https://www.facebook.com/mymedinaschools"
                          style="text-decoration: none"
                          class=""
                          ><span
                            style="
                              font-size: 11pt;
                              font-family: Arial;
                              color: rgb(17, 85, 204);
                              font-variant-ligatures: normal;
                              font-variant-east-asian: normal;
                              font-variant-position: normal;
                              text-decoration: underline;
                              text-decoration-skip: none;
                              vertical-align: baseline;
                              white-space: pre-wrap;
                            "
                            class=""
                            >facebook</span
                          ></a
                        ><span
                          style="
                            font-size: 11pt;
                            font-family: Arial;
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          >/</span
                        ><span
                          style="
                            text-decoration: underline;
                            font-size: 11pt;
                            font-family: Arial;
                            color: rgb(17, 85, 204);
                            font-variant-ligatures: normal;
                            font-variant-east-asian: normal;
                            font-variant-position: normal;
                            text-decoration-skip-ink: none;
                            vertical-align: baseline;
                            white-space: pre-wrap;
                          "
                          class=""
                          ><a
                            href="https://www.instagram.com/mymedinaschools/"
                            style="text-decoration: none"
                            class=""
                          >
                            instagram</a
                          ></span
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
--{{ boundary }}
Content-Type: {{ mime_type }}; name={{ filename }}
Content-Disposition: attachment; filename={{ filename }}
Content-Transfer-Encoding: base64

